{% extends "books/layout.html" %}
{% block body %}

<h1>Books {{ book.id }}</h1>
<ul>
    <li>Name:{{book.Name}}</li>
    <li>Description:{{book.Description}}</li>
    <li>Rating (out of 10):{{book.rating}}</li>
</ul>
<form action="{% url 'issue' book.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">If you want to Issue this book<br>
</form>
<a href="{% url 'index1' %}">Back to Book List</a>
{% endblock %}