{% extends "books/layout.html" %}

{% block body %}
{% if message %}
<div>{{ message }}</div>
{% endif %}
<h1>Books</h1>
<h2>
    Your books:
    <ul>
        {% for item in approved %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
    pending books:
    <ul>
        {% for item in unapproved %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
</h2>
<h2>Search for books you like (write the book's name)</h2>
<form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="argument" placeholder="argument">
    <input type="submit">
</form>
{% if msg %}
<h2>results:</h2>
<ul>
    {% for object in msg %}
    <li>
        Book {{ object.id }}:{{ object.Name }}
        <a href= "{% url 'book' object.id %}">For more info ...</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<h2>All other books</h2>
<ul>
    {%for book in books %}
    <li>
        Book {{ book.id }}:{{ book.Name }}
        <a href= "{% url 'book' book.id %}">For more info ...</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}